html {
    background-image: url("/images/body1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: aqua;
    height: 1200px;
    margin: 0;


}

#container {
    width: 75%;
}

#orders {
    float: right;
    flex-basis: 24%;
    margin: 0 2rem;
    border: 2px dashed rgb(24, 211, 18);
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    background-color: rgba(7, 11, 31, 0.945);
    width: 350px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


#purchases {
    margin-top: -1rem;
}

#purchases>li {
    margin-left: -2rem;
}

#orders>h2 {
    width: 400px;
    text-align: center;
}

header {

    color: rgb(243, 252, 166);
    height: 130px;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;

}

.header-h1 {
    margin-top: 40px;
    font-size: 60px;


}

.choices-div {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 2px dashed rgb(236, 233, 14);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    margin: 20px;
    margin-left: 20px;
    background-color: rgba(7, 11, 31, 0.945);
    width: 500px;
    height: 80px;
    margin-left: 200px;
}

option {
    font-size: 25px;
    background-color: black;
    color: rgb(224, 221, 16);
    margin: 4px;
}

label {
    font-size: 30px;
    margin-right: 20px;
}

select {
    /* color: rgb(10, 10, 10);
    background-color: rgb(252, 245, 245); */
    width: 170px;
    height: 23px;
    font-weight: bold;
    font-size: 15px;
    background-color: black;
    color: rgb(224, 221, 16);

}

#minerals-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.minerals_box {

    margin: 0 2rem;
    border: 2px dashed rgb(236, 233, 14);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    background-color: rgba(7, 11, 31, 0.945);
    width: 800px;
    height: 150px;
    text-align: center;
    margin-top: 150px;
    margin-left: 200px;

}

.purchase_box {

    margin: 0 2rem;
    border: 2px dashed rgb(236, 233, 14);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
    background-color: rgba(7, 11, 31, 0.945);
    height: 150px;
    width: 450px;
    text-align: center;
    margin-top: 150px;
    margin-left: 100px;
}

input {
    margin: 10px;
}

button {
    background-color: rgb(11, 236, 11);
    color: rgb(12, 12, 12);
    height: 40px;
    font-size: 20px;
}